
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

$icono: #00cc65;
$icono-fondo: #00994c;
$fondo-opciones: #e5fff2;
$titulo-menu: #00994c;

.container-index{
    display: flex;
    .nav-lateral-izq{
        width: 12%;
        height: 100vh;
        //border: 2px solid green;
        padding: 0px 8px 8px 8px;

        .nav-menu{
            //border: 2px solid rgb(14, 11, 209);
            padding: 0 0 20px 0;
            border-radius: 0px  30px 0px 30px;
            background-color: #ccffe5;
            .nav-header{
                margin: 10px ;
                padding: 5px 0 5px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                color: $titulo-menu;

                //border: 2px solid rgb(238, 8, 46);
               
                height: 60px;
                text-align: center;
                h2{
                    font-size: 25px;
                    margin: 1px;
                }
                span{
                    margin: 0 8px 0 8px;
                }
            }
            .nav-opciones{
                margin: 12px; 
                padding-top: 12px;
                padding-bottom: 14px;
                //border: 2px solid rgb(153, 153, 9);
                border-radius: 30px 0 30px 5px;
                background-color: $fondo-opciones ;// seashell;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .nav-op-add{
                    width: 80px;
                    height: 80px;
                    margin: 10px 0 5px 0;

                    border-radius: 10px ;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    background-color: $icono-fondo;

                    span{
                        font-size: 40px;
                        color: $icono;
                    }

                }
            }
           
        }
    }

    .nav-lateral-der{
        width  : 70%;
        height : 100vh;
        //border : 4px solid orange;

        padding: 20px;
    }

    
}


$sel : rgb(255, 255, 255);


.lista-box{
    margin: 10px;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-body{
        padding: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}