
$deep0050: #fbe9e7;
$deep0100: #ffccbc;
$deep0200: #ffab91;
$deep0300: #ff8a65;
$deep0400: #ff7043;
$deep0500: #ff5722; // este
$deep0600: #f4511e;
$deep0700: #e64a19;
$deep0800: #d84315;
$deep0900: #bf360c;
$deepA100: #ff9e80;
$deepA200: #ff6e40;
$deepA400: #ff3d00; // o
$deepA700: #dd2c00;


$Primary :#FF5722;
$primary-text: #eceff1;
// Deep Orange
$P-Light : #ff8a50;
// Deep Orange
$P-Dark: #c41c00;
//Cyan
$Secondary: #4DD0E1;
$secondary-text: #4a148c;
//Cyan
$S-Light: #88ffff;
// Cyan
$S-Dark: #009faf;

$fondo-app : #E1E2E1;



// $Primary :#FF5722;

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // min 96% opacity
//     // NOT LEGIBLE
//     // warning
//     // Black Text
//     // min 52% opacity
//     // min 70% opacity


// // Deep Orange
// $P-Light : #ff8a50;

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // NOT LEGIBLE
//     // warning
//     // NOT LEGIBLE
//     // warning
//     // Black Text
//     // min 48% opacity
//     // min 63% opacity

// // Deep Orange
// $P-Dark: #c41c00

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // min 62% opacity
//     // min 84% opacity
//     // Black Text
//     // min 74% opacity
//     // NOT LEGIBLE
//     // warning

// //Cyan
// Secondary: #4DD0E1;

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // NOT LEGIBLE
//     // warning
//     // NOT LEGIBLE
//     // warning
//     // Black Text
//     // min 45% opacity
//     // min 59% opacity
//     // Custom Text
//     // min 57% opacity
//     // min 77% opacity

// //Cyan
// $S-Light: #88ffff;

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // NOT LEGIBLE
//     // warning
//     // NOT LEGIBLE
//     // warning
//     // Black Text
//     // min 43% opacity
//     // min 55% opacity
//     // Custom Text
//     // min 51% opacity
//     // min 66% opacity

// // Cyan
// $S-Dark: #009faf;

//     // Aa Large Text
//     // Aa Normal Text
//     // White Text
//     // min 95% opacity
//     // NOT LEGIBLE
//     // warning
//     // Black Text
//     // min 52% opacity
//     // min 70% opacity
//     // Custom Text
//     // min 73% opacity
//     // NOT LEGIBLE
//     // warning