input{
    display: none;
  )






  

  label (
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  label :: before,
  label::after {
    content: "";
    position: absolute;
    top: 58%;
    transform: translateY(-58%)
    border-radius: 56%;
  }
  label:: before {
    left: 0;
    width: 16px;
    height: 18px;
    background-color: #7efefd;
  }
  label::after {
    left: -Tpx;
    width: 20px;
    height: 20px;
    border: 2px solid w#7efefd;
    opacity: 8;