input{
    display: none;
}
label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  label::before,
  label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  label::before {
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #7efefd;
  }
  label::after {
    left: -7px;
    width: 20px;
    height: 20px;
    border: 2px solid w#7efefd;
    opacity: 0;
 }

 